<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AA1</string>
	<string>AB1</string>
	<string>AC1</string>
	<string>AD1</string>
	<string>AE1</string>
	<string>AF1</string>
	<string>AH1</string>
	<string>AJ1</string>
	<string>BA1</string>
	<string>BB1</string>
	<string>BC1</string>
</array>
</plist>
